/node_modules/
/coverage/
/NO_GIT/

# Generated stuff.
/worker/out/

# clang-fuzzer stuff is too big.
/worker/deps/clang-fuzzer

# Ignore all fuzzer generated test inputs.
/worker/fuzzer/new-corpus/*
!/worker/fuzzer/new-corpus/.placeholder

# Vim temporal files.
*.swp
*.swo

# Mac Stuff.
.DS_Store

# worker scripts node-modules.
/worker/scripts/node_modules/

# Vistual Studio generated Stuff.
/worker/**/Debug/
/worker/**/Release/
/worker/.vs/

# Vistual Studio Code stuff.
/.vscode/

# JetBrains IDE stuff.
/.idea/

# Rust.
/target
/Cargo.lock

# Rust examples.
/rust/examples-frontend/*/node_modules
/rust/examples-frontend/*/package-lock.json

# Meson.
/worker/subprojects/*
!/worker/subprojects/*.wrap
