[submodule "worker/submodules/usrsctp"]
	path = worker/submodules/usrsctp
	url = https://github.com/sctplab/usrsctp.git
[submodule "worker/submodules/jsoncpp"]
	path = worker/submodules/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
