# Tell GitHub to ignore some folders when detecting the project language.
art/* linguist-vendored=true
doc/* linguist-vendored=true
fbs/* linguist-vendored=true
rust/benches/* linguist-vendored=true
rust/examples/* linguist-vendored=true
rust/examples-frontend/* linguist-vendored=true
rust/tests/* linguist-vendored=true
rust/**/tests.rs linguist-vendored=true
worker/deps/* linguist-vendored=true
worker/subprojects/* linguist-vendored=true
worker/test/* linguist-vendored=true
worker/scripts/* linguist-vendored=true
worker/fuzzer/* linguist-vendored=true
worker/out/* linguist-vendored=true
