# Tell GitHub to ignore worker dependencies and scripts when detecting the
# project language.
art/* linguist-vendored=true
doc/* linguist-vendored=true
lib/* linguist-vendored=true
test/* linguist-vendored=true
worker/deps/* linguist-vendored=true
worker/fuzzer/* linguist-vendored=true
worker/scripts/* linguist-vendored=true
worker/test/* linguist-vendored=true
