[submodule "deps/jsoncpp"]
	path = deps/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "deps/usrsctp"]
	path = deps/usrsctp
	url = https://github.com/sctplab/usrsctp.git
