language: node_js

node_js:
  - 4
  - 5
  - 6

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

install: npm install

notifications:
  email:
    recipients:
      - ibc@aliax.net
    on_success: change
    on_failure: always
