name: mediasoup-node

on: [push, pull_request]

concurrency:
  # Cancel a currently running workflow from the same PR, branch or tag when a
  # new workflow is triggered.
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    strategy:
      matrix:
        ci:
          - os: ubuntu-20.04
            node: 16
          - os: ubuntu-20.04
            node: 18
          - os: ubuntu-22.04
            node: 20
          - os: macos-12
            node: 20
          - os: windows-2022
            node: 20

    runs-on: ${{ matrix.ci.os }}

    env:
      MEDIASOUP_SKIP_WORKER_PREBUILT_DOWNLOAD: 'true'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.ci.node }}

      - name: Configure cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.npm
          key: ${{ matrix.ci.os }}-node-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ matrix.ci.os }}-node-

      # NOTE: Add --force since otherwise `npm ci` fails in Node 16 because
      # @octokit/auth-token dev dependency requires Node >= 16.
      - name: npm ci
        run: npm ci --force --foreground-scripts

      - name: npm run lint:node
        run: npm run lint:node

      - name: npm run test:node
        run: npm run test:node
